<app-page-header>

</app-page-header>


<div class="jumbotron">
  <div class="container">
    <div class="row justify-content-center">
      <div class="text-center col-6 ">

        <div *ngIf="!userIsAuthorized">
          <h2>Registration</h2>
          <form [formGroup] ="userRegistrationForm" class="form-signin" (ngSubmit) = "onSubmit(userRegistrationForm.value)">
            <div class="form-group">
              <!--First name-->
              <label for="firstName" class="sr-only">First Name</label>
              <input id="firstName" class="form-control"
                     formControlName="firstName" placeholder="First Name" >

              <!--Last name-->
              <label for="lastName" class="sr-only">Last Name</label>
              <input id="lastName" class="form-control"
                     formControlName="lastName" placeholder="Last Name" >

              <!-- Username-->
              <label for="username" class="sr-only">Username</label>
              <input id="username" class="form-control"
                     formControlName="username" placeholder="Username" >

              <!--Email part-->
              <label for="email" class="sr-only">Email</label>
              <input id="email" class="form-control"
                     formControlName="email" placeholder="Email address" required >

              <!--Errors for email here:-->
              <div *ngIf="email.invalid && (email.dirty || email.touched)"
                   class="alert alert-danger">

                <div *ngIf="email.errors.required">
                  Email is required.
                </div>
                <div *ngIf="email.errors.pattern">
                  It does not look like email!
                </div>
              </div>
              <!--end errors for email-->

              <!--Password part-->
              <label for="password" class="sr-only">Password</label>
              <input type="password" class="form-control"
                     name="password" id="password"
                     formControlName = "password"
                     placeholder="Password"
                     required/>
              <!--Errors for password and common errors here:-->
              <div *ngIf="errorLogin || (password.invalid && (password.dirty || password.touched))"
                   class="alert alert-danger">
                <div *ngIf="!errorLogin">
                  <span *ngIf="password.errors.required">
                    Password is required.
                  </span>
                </div>
                <!--&lt;!&ndash;Common login errors:&ndash;&gt;-->
                <!--<div>-->
                  <!--<span *ngIf="errorLogin">-->
                    <!--{{errorLoginDescription}}-->
                  <!--</span>-->
                <!--</div>-->

              </div>
              <!--end errors for password-->

              <!--password confirm-->
              <label for="passwordConfirm" class="sr-only">Confirm password</label>
              <input type="password" class="form-control"
                     name="passwordConfirm" id="passwordConfirm"
                     formControlName = "passwordConfirm"
                     placeholder="Confirm password"
                     required/>

              <!--Errors for confirm password:-->
              <div *ngIf="passwordConfirm.invalid && (passwordConfirm.dirty || passwordConfirm.touched)"
                   class="alert alert-danger">

                <div *ngIf="passwordConfirm.errors.required">
                  passwordConfirm is required.
                </div>

              </div>

              <button ngbButton class="btn btn-success" type="submit"
                      [disabled]="userRegistrationForm.invalid">Registrate</button>
            </div>
          </form>
        </div>

        <div *ngIf="userIsAuthorized">
          <h2>You have been already authorized!</h2>
        </div>

      </div>
    </div>
  </div>
</div>



<!--<div class="jumbotron">-->
  <!--<div class="container">-->
    <!--<div *ngIf="!userIsAuthorized">-->
      <!--<h2>Registration</h2>-->
      <!--<form [formGroup] ="userRegistrationForm" (ngSubmit) = "onSubmit(userRegistrationForm.value)">-->
        <!--<div class="form-group">-->
          <!--<label for="email" >EMAIL</label>-->
          <!--<input id="email" class="form-control"-->
                 <!--formControlName="email" required >-->
          <!--<div *ngIf="email.invalid && (email.dirty || email.touched)"-->
               <!--class="alert alert-danger">-->

            <!--<div *ngIf="email.errors.required">-->
              <!--Email is required.-->
            <!--</div>-->
            <!--<div *ngIf="email.errors.pattern">-->
              <!--It does not look like email!-->
            <!--</div>-->
            <!--pattern-->

          <!--</div>-->

          <!--<br/>-->
          <!--<label for="password" >password</label>-->
          <!--<input type="password" class="form-control"-->
                 <!--name="password" id="password"-->
                 <!--formControlName = "password"-->
                 <!--required/>-->
          <!--<div *ngIf="password.invalid && (password.dirty || password.touched)"-->
               <!--class="alert alert-danger">-->

            <!--<div *ngIf="password.errors.required">-->
              <!--Password is required.-->
            <!--</div>-->

          <!--</div>-->
          <!--<br/>-->
          <!--&lt;!&ndash;<input type = "submit" value = "Login">&ndash;&gt;-->

          <!--<button ngbButton type="button" class="btn btn-success"-->
                  <!--[disabled]="userRegistrationForm.invalid"> Registrate </button>-->
        <!--</div>-->
      <!--</form>-->
    <!--</div>-->

    <!--<div *ngIf="userIsAuthorized">-->
      <!--<h2>You have been already authorized!</h2>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
